<div class="row">
  <div class="column">
    <h1>Join a room</h1>
    <%= form_for @conn, "/room", fn f -> %>
      <p>Enter room name/number: <%= text_input f, :room %></p>
      <p><%= submit "Enter Room" %></p>
    <% end %>
  </div>
</div>